i.mce-i-bs3_panel:before {
    font-family: "dashicons";
    content: "\f116";
}

/*  Date : 22/07/2017 */

.image-list ul.groups-images {
    max-width: 470px;
    overflow: hidden;
}
.image-list ul.groups-images li {
    display: inline-block;
    float: left;
    height: auto;
    width: 33.333%;
    padding: 3px !important;
    margin: 0;
    border: 0 !important;
}
.image-list ul.groups-images li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-shadow: none !important;
}
.image-list ul.groups-images li a:hover ,.image-list ul.groups-images li a:focus  {
    box-shadow: none !important;
}
.image-list ul.groups-images li img {
    height: 100%;
    width: 100%;
    line-height: 100%;
    vertical-align: bottom;
    box-shadow: none;
}
div.powered-by{
    text-align:center;
    clear: both;
    padding-top: 10px;
}
a.plugin-url{
    box-shadow: none !important;
    border: 0 !important;
}
div.powered-by span.first-child{
    text-transform:lowercase;
    color:#9f9c9c;
}
span.phlow-red{
    color:#e94033; 
}
.icon-logo-small {
    display: inline-block;
    background-image: url(https://app.phlow.com/img/icons.png);
    background-position: -330px -79px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    text-indent: -999px;
    vertical-align: middle;
}
@Media(max-width:767px){
    .image-list ul.groups-images {
        width: 100%;
    }
    .image-list ul.groups-images li {
        height: 100%;
        width: 33.333%;
        line-height: 100%;
    }
}
/*image-list-horizontal*/
.image-list-horizontal ul.line-images li {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 100%;
    float: left;
    width: 9.5%;
}
.image-list-horizontal ul.line-images li a {
    line-height: 100%;
    display: inline-block;
    width: 100%;
    height: 100%;
    box-shadow: none !important;
}
.image-list-horizontal ul.line-images li a img.images-view {
    height: 100%; 
    width: 100%;
    line-height: 100%;
    vertical-align: top;
    box-shadow: none;
}
@media(max-width:750px){
    .image-list-horizontal ul.line-images li{
        width: 20%;
    }
}
