/* forms */
.form-control {
	width: 250px;
	height: 28px;
}

/* autocomplete override */
.easy-autocomplete-container ul li {
	margin: 0;
}

.easy-autocomplete input {
	line-height: 1;
	padding: 3px 5px;
	border-radius: inherit;
	border-color: #ddd;
}

.phlow-hidden {
	display: none;
}

.phlow-loader {
	text-align: center;
}

/**
 * Access form
 */
.phlow-access {
	position: relative;
}

.phlow-access * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.phlow-access-box {
	margin-bottom: 2em;
	padding: 20px 20px 5px;
	background-color: #ffffff;
	border: 1px solid #e4e5e7;
	border-radius: 4px;
}

.phlow-access .field-block {
	margin-bottom: 15px;
}

.phlow-access .field-block input {
	display: block;
	width: 100%;
	height: 34px;
	line-height: 1;
	padding: 6px 12px;
	margin: 0;
	background-color: #fff;
	border: 1px solid #e4e5e7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 14px;
}

.phlow-access .field-block input::-webkit-input-placeholder {
	color: #999;
}

.phlow-access .field-block input::-ms-input-placeholder {
	color: #999;
}

.phlow-access .field-block input::-moz-placeholder {
	color: #999;
}

.phlow-access .field-block input:-moz-placeholder {
	color: #999;
}

.phlow-access-buttons button {
	display: block;
	width: 100%;
	height: 34px;
	line-height: 1;
	padding: 6px 12px;
	margin-bottom: 15px;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-transform: none;
	font-weight: normal;
	font-size: 14px;
}

.phlow-access-buttons button:hover {
	opacity: 0.9;
}

.phlow-access-buttons .phlow-access-submit {
	background-color: #e94033;
	color: #ffffff;
}

.phlow-access .field-block .checkbox {
	position: relative;
	display: block;
	padding-left: 25px;
	padding-bottom: 5px;
	line-height: 1.5;
	font-size: 14px;
	color: #9f9c9c;
}

.phlow-access .field-block .checkbox input {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 4px;
	width: 15px;
	height: 15px;
}

.phlow-access-loader {
	display: none;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .5);
}

.phlow-access-loader .spin {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 32px;
	height: 32px;
	margin: -16px 0 0 -16px;
}

.phlow-access-errors {
	display: none;
	margin: 0 0 1em;
	list-style-position: inside;
	color: #e94033;
	font-size: 14px;
	line-height: 1.5;
}

.phlow-access-message {
	display: none;
	margin: 0 0 1em;
	list-style-position: inside;
	color: #6a6c6f;
	font-size: 14px;
	line-height: 1.5;
}
